
/* ===============
    Universal Selector
=============== */
* {
    box-sizing: border-box;
}

/* ===============
        Display Layout
=============== */

.wrapper {
    max-width: 320px;
    color: white;
    background-color: black;
    margin: auto;
    margin-top: 50px;
}

.row {
    height: 32px;
}

.block{
    display: inline-block;
    width: 10%;
    height: 32px;
    border: 1px solid gray;
}

/* ===============
            Styling
=============== */




/* ===============
        Media Queries
=============== */
