
/* ===============
    Universal Selector
=============== */
* {
    box-sizing: border-box;
}

/* ===============
        Display Layout
=============== */

.container {
    margin-left: 430px;
}

.wrapper {
    display: inline-block;
    max-width: 320px;
    color: white;
    background-color: black;
    margin: auto;
    margin-top: 50px;
}

.row {
    height: 32px;
}

.block{
    display: inline-block;
    width: 10%;
    height: 32px;
    border: 1px solid gray;
}

.score {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-top: 20px;
}

/* ===============
            Styling
=============== */
label, h2 {
    font-size: 2em;
}

h2 {
    display: inline-block;
}



/* ===============
        Media Queries
=============== */
